<a href="https://colab.research.google.com/github/ArunK-ML/Project---Nutrition-Paradox-A-Global-View-on-Obesity-and-Malnutrition/blob/main/Nutrition_Paradox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **⚖️ Nutrition Paradox: A Global View on Obesity and Malnutrition**

In [28]:
import requests
import pandas as pd

url1 = "https://ghoapi.azureedge.net/api/NCD_BMI_30C"
url2 = "https://ghoapi.azureedge.net/api/NCD_BMI_PLUS2C"
url3 = "https://ghoapi.azureedge.net/api/NCD_BMI_18C"
url4 = "https://ghoapi.azureedge.net/api/NCD_BMI_MINUS2C"

response1 = requests.get(url1)
response2 = requests.get(url2)
response3 = requests.get(url3)
response4 = requests.get(url4)

Obesity_adults = response1.json()
Obesity_children = response2.json()
Malnutrition_adults = response3.json()
Malnutrition_children = response4.json()


Obesity_adults.keys()

# Convert into Dataframe

Obesity_adults_df = pd.DataFrame(Obesity_adults["value"])
Obesity_children_df = pd.DataFrame(Obesity_children["value"])
Malnutrition_adults_df = pd.DataFrame(Malnutrition_adults["value"])
Malnutrition_children_df = pd.DataFrame(Malnutrition_children["value"])

#Adding Column name "age_group"

Obesity_adults_df["age_group"] = "Adult"
Obesity_children_df["age_group"] = "Child"
Malnutrition_adults_df["age_group"] = "Adult"
Malnutrition_children_df["age_group"] = "Child"

# Joining the Datasets

df_obesity = pd.concat([Obesity_adults_df, Obesity_children_df], ignore_index=True)

df_malnutrition = pd.concat([Malnutrition_adults_df, Malnutrition_children_df], ignore_index=True)

# Select particular columns

df_obesity_subset = df_obesity[["ParentLocationCode" , "Dim1" , "TimeDim" , "Low" , "High" , "NumericValue" , "SpatialDim" , "age_group"]]

df_malnutrition_subset = df_malnutrition[["ParentLocationCode" , "Dim1" , "TimeDim" , "Low" , "High" , "NumericValue" , "SpatialDim" , "age_group"]]

# Columns name correction

df_obesity_subset = df_obesity_subset.rename(columns={
    "ParentLocationCode" : "Region",
    "Dim1" : "Gender",
    "TimeDim" : "Year",
    "Low" : "LowerBound",
    "High" : "UpperBound",
    "NumericValue" : "Mean_Estimate",
    "SpatialDim" : "Country"
})

df_malnutrition_subset = df_malnutrition_subset.rename(columns={
    "ParentLocationCode" : "Region",
    "Dim1" : "Gender",
    "TimeDim" : "Year",
    "Low" : "LowerBound",
    "High" : "UpperBound",
    "NumericValue" : "Mean_Estimate",
    "SpatialDim" : "Country"
})

In [29]:
df_obesity_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83160 entries, 0 to 83159
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Region         78804 non-null  object
 1   Gender         83160 non-null  object
 2   Year           83160 non-null  int64
 3   LowerBound     83160 non-null  float64
 4   UpperBound     83160 non-null  float64
 5   Mean_Estimate  83160 non-null  float64
 6   Country        83160 non-null  object
 7   age_group      83160 non-null  object
dtypes: float64(3), int64(1), object(4)
memory usage: 5.1+ MB

In [30]:
df_obesity_subset['Gender'] = df_obesity_subset['Gender'].astype('category')
df_obesity_subset["age_group"] = df_obesity_subset["age_group"].astype('category')

In [31]:
df_obesity_subset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83160 entries, 0 to 83159
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Region         78804 non-null  object
 1   Gender         83160 non-null  category
 2   Year           83160 non-null  int64
 3   LowerBound     83160 non-null  float64
 4   UpperBound     83160 non-null  float64
 5   Mean_Estimate  83160 non-null  float64
 6   Country        83160 non-null  object
 7   age_group      83160 non-null  category
dtypes: category(2), float64(3), int64(1), object(2)
memory usage: 4.0+ MB